.about-section {

    height: 100vh;
    background-color: rgb(188, 214, 248);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 1fr;
    grid-template-areas: 
    " h3 . "
    " p p ";
}

.about-section > h3 {
    grid-area: h3;

    margin-top: 20%;

    font-size: x-large;
}

.about-section > p {
    grid-area: p;

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;

    text-align: left;
    font-size: larger;
}